 
        body{
            background-color: #eeffee !important;
            font-family: 'Roboto Condensed', sans-serif !important;
        }



 .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
     
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
  100% {
     
    -webkit-transform: none;
    transform: none;
  }
  }
  @keyframes fadeInLeft {
    0% {
     
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
  
    -webkit-transform: none;
    transform: none;
    }
  } 
        thead, tbody, th, tr{
            color:#556B2F !important;
            font-size: 16px !important;
        }
        .trueResponse{
            background-color: #808000 !important;
            color: #eeFFee !important;
        }

        tr{
            transition:all 0.3s !important;
            border-color: #a0a080 !important;
        }
        tbody>tr:hover{
            background-color:#FFA500 !important;
            
        }


        tbody{
            cursor: pointer !important;
        }

        

        .ticketWrapOk{
            background-color: #ccffcc !important;
            border: 2px solid#509950 !important;
        }
        .ticketWrapWarn{
            background-color: #FFDEAD !important;
            border: 2px solid#FF8C00 !important;   
        }
            .ticketWrapWarn>table{
                color:#500000 !important;
            }
        .topElement{
              z-index: 100 !important;   
        }
        .clockNode{
            color: #406040 !important;
        }
        .hideElement{
            display: none !important;
        }
        .mySpinner{
            top:20%;
            left:40%;
        }
        .mainColor{
            color:#556B2F !important;
        }
        .myButtons{
            background-color:#EEE8AA !important;
            color:indigo !important;
            padding:0.6em 0.8em 0.6em 0.8em;
            border:2px solid #DFBA99 !important;
            border-radius:14px !important;
            transition: all 0.3s;
            margin: 8px !important;
            z-index: 2000;
        }
        .myButtons:hover{
           color: #FFDAB9 !important;
           background-color:indigo !important;
        }
        .myLink{
            background-color: #ffacac;    
            color:#006400 !important;
            text-decoration: none !important;
            border: 2px solid #228B22 !important;
            padding: 0.7em;
            transition: all 0.3s;
            border-radius: 8px;

        }

        .myLink:hover{
            background-color: #006400;
            color: wheat !important;
        }

        .myProgress{
            transition: all ease 1s;
        }



        .bounce-in-top {
            -webkit-animation: bounce-in-top 1.5s both;
                    animation: bounce-in-top 1.5s both;
        }

        .ticketPos{
                position:relative;
                grid-area:1/1/2/2;
        }

        /* ----------------------------------------------
 * Generated by Animista on 2022-5-24 11:58:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

   
