

body{
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif !important;
    color:#308030 !important;
}

a{
    text-decoration: none;
   
    
    color: maroon;
    background-color: mistyrose;
    transition: all 0.3s;
    border:2px solid olive;
    border-radius: 4px;
}

a:hover{
    color:mistyrose;
    background-color:maroon;
}

.mySpinner{
    top: 15%;
    left: 45%;
    width: 3rem;
    height: 3rem;
}
.hide{
    display: none !important;
}

